$facebook: #3b5998;
$twitter: #55acee;
$gplus: #d34836;
$linkedin: #0077b5;
$skype: #0078ca;
$youtube: #cc181e;
$instagram: #125688;
//Fonts
$roboto: "Roboto",
sans-serif;
$opensans: "Open Sans",
sans-serif;
$gabri: "Gabriela",
serif;
$raleway: "Raleway",
sans-serif;
$nunito: "Nunito",
sans-serif;
$source: "Source Sans Pro",
sans-serif;

// Colors
// $primaryColor: #102e19;
// $secondaryColor: #9cc212;
$primaryColor:#063C6D;
$secondaryColor: #FDAE5C;
$btn-color:#FFB700;
$lightblue: #24427d;
$grey: #535353;
$lightgreen: #F0F8FF;
$white: #ffffff;
$black: #000000;
$blue: #282493;
$lblue: #f4fcfd;
$yellow: #e9ae0c;
$red: #e74216;
$orange: #FFD700;
$purple: #c400ff;
$green: #67b915;
$t-color:#C3C3C3;
$t2-color:#FFFFFF70;
$dark-color: #383838;
$lgrey: #f7f7f7;
$grey: #FFFFFFBF;
$pink: rgb(180, 27, 53);